nbsphinx
scanpydoc
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
sphinx_issues
typing_extensions
zarr
sphinx_copybutton
myst_parser
mock
pandas
scanpy
scikit-learn
torch
anndata==0.8.0
h5py==3.8.0
